{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<marquee
    style="font-family: 'Monotype Corsiva'; font-size: 25px; color: darkcyan; background-color: black; font-weight: bold; margin-top: 1%">
    Profile
</marquee>
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-8">

            <form class="container mt-5" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="fname" value="{{recruiter.user.first_name}}" placeholder="{{recruiter.user.first_name}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lname" value="{{recruiter.user.last_name}}" placeholder="{{recruiter.user.last_name}}">
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Contact</label>
                        <input type="text" class="form-control" name="contact" value="{{recruiter.mobile}}" placeholder="{{recruiter.mobile}}">
                    </div>

                    <div class="form-group col-md-6">
                        <label>Company</label>
                        <input type="text" class="form-control" readonly name="company"
                            placeholder="{{recruiter.company}}" required>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Email ID</label>
                        <input type="email" class="form-control" readonly name="email" placeholder="{{recruiter.user.username}}" required>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Gender</label>
                        {% if recruiter.gender == "Male" %}
                        <div style="border: 1px solid lightgrey; padding: 6px; border-radius: 4px; ">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male" checked>
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female">
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                            </div>
                        </div>

                        {% else %}
                        <div style="border: 1px solid lightgrey; padding: 6px; border-radius: 4px; ">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="gender" class="custom-control-input" value="Male">
                                <label class="custom-control-label" for="customRadioInline1">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="gender" class="custom-control-input" value="Female" checked>
                                <label class="custom-control-label" for="customRadioInline2">Female</label>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Image</label>
                        <input type="file" class="form-control" name="image" accept="image/*">
                    </div>

                </div>

                <input type="submit" value="Edit Profile" class="btn btn-primary my-3" style="width: 200px">

            </form>

        </div><!--col 1 end-->

        <div class="col-sm-4 mt-5 text center">
            <img src="{{recruiter.image.url}}" width="300px" height="300px" alt="">
        </div>
    </div>
</div>

    {% include 'footer.html' %}

    {% if error == "no" %}
    <script>
        alert("Profile updated successfully!");
        window.location = ('{% url 'recruiter_home' %}')
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
        alert("Something went wrong, try again...");
    </script>
    {% endif %}

    {% endblock %}