{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; color: darkcyan; background-color: black; font-weight: bold; margin-top: 1%">
    View All Student Users
</marquee>
<hr>

<div class="container">
    <table class="table" id="example" style="width:100%">
        <thead>
            <tr style="background-color: #000080; color: white;">
                <th>S.No.</th>
                <th>Full Name</th>
                <th>Email ID.</th>
                <th>Contact</th>
                <th>Gender</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr style="background-color: #DEB887;">
                <td>{{ forloop.counter }}</td>
                <td>{{ i.user.first_name }} {{ i.user.last_name }}</td>
                <td>{{ i.user.username }}</td>
                <td>{{ i.mobile }}</td>
                <td>{{ i.gender }}</td>
                <td><img src="{{ i.image.url }}" style="width: 100px; height: 100px; border-radius: 50%;"></td>
                <td>
                    <a href="{% url 'delete_user' i.user.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are You Sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'footer.html' %}

<!-- Include the required DataTables CSS and JS files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!-- Initialize the DataTable -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

{% endblock %}



